
/******************************** HTML ********************************/

body{
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    color: #40514E ;
}

.titre{
    margin: 0px;
}

hr{
    border: dotted;
    border-bottom: none;
    width: 4%;
    margin: 5rem auto ;
}

a{
  color: #11999e;  
  font-family: 'Sacramento', sans-serif;
  margin: 5px 10px;
  text-decoration: none;
}

a:hover{
    color: #eaf6ea;
}

h1{
font-family:'Sacramento', sans-serif;
font-size: 4rem;
}

h2{
    font-family: 'Sacramento', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 0.8rem;
}

h3{
    font-family:'Sacramento', sans-serif;
    
}

p{
    font-family:'Sacramento', sans-serif;
    
}

/******************************** container ********************************/

.middle-container{
    margin: 5rem 0;
}

.intro{
    width: 80%;
    margin: auto;
}

.titreDiv {
    background-color: #F6F1E9;
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
    padding-top : 5em;
    font-size: 2em;
} 

.clouds-div{
    position: relative;
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.bottom-container{
    background-color: lightblue;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

/******************************** Div Elements ********************************/


.topCloud{
    position: absolute;
    left: -5%;
    bottom: 120%;
    width: 20%
    
       
}
.botomCloud{
    position: absolute;
    right: -5%;
    top: 120%;
    width: 20%
}
.skill-row{
    margin: 5rem auto ;
    max-width: 50%;
    text-align: start;
    line-height: 2;
}

.profile{
    margin: 6rem auto 6rem auto;
    max-width: 50%;
}

.contact-me{
    margin: 2rem auto ;
    max-width: 50%;
   
}

.contact-message{
    margin: 2rem auto 4rem auto;
    max-width: 70%;
}


.footer-name{
    margin-bottom: 0;
    font-size: 0.75rem;
    padding-top: 0.6rem;
}


/******************************** images ********************************/


.mountaine-image{
    width: 90%;
}

.imgRound{

    border-radius: 50%;
    max-width: 20%;
    text-align: center;
   
}
.imgRound-Left-skill{

    border-radius: 50%;
    max-width: 20%;
    text-align: center;
    float: left;
    margin-right: 1.8rem;
}

.imgRound-Right-skill{

    border-radius: 50%;
    max-width: 20%;
    text-align: center;
    float: right;
    margin-left: 1.8rem;
}

/******************************** Button ********************************/

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }